<!-- Header -->
  <header id="header">
    <!--<h1><a href="https://trexwithoutt.github.io/">土 と Rex Zhou</a></h1>-->
    <h2 style="font-family:courier new;"><a href="https://trexwithoutt.github.io/">土</a>と<a href="https://trexwithoutt.github.io/">Rex Zhou</a></h2>
    <a href="{{ site.github.url }}/" class="image avatar"><img src="{{ site.github.url }}/images/avatar.jpg" alt="" /></a>
    <p style="font-family:courier new;">{{ site.description | markdownify | remove: '<p>' | remove: '</p>' }}</p>
    <ul class="icons">
      {% if site.feed_icon %}
      <li><a href="https://github.com/trexwithoutt/trexwithoutt.github.io/blob/master/images/Rex-Zhou-Resume.pdf" class="icon fa-rss"><span class="label">Feed</span></a></li>
      {% endif %}
    </ul>
  </header>
